{"items": [{"rrset_name": "@", "rrset_type": "A", "rrset_ttl": 10800, "rrset_values": ["{{ ansible_host }}"]},{"rrset_name": "{{ default_cname_record }}", "rrset_type": "CNAME", "rrset_ttl": 10800, "rrset_values": ["@"]}, {"rrset_name": "@", "rrset_type": "TXT", "rrset_ttl": 10800, "rrset_values": ["v=spf1 mx a:{{ default_cname_record }}.{{ server_domain }} -all"]},{"rrset_name": "{{ dkim_selector }}._domainkey", "rrset_type": "TXT", "rrset_ttl": 10800, "rrset_values": ["v=DKIM1; k=rsa; p={{ dkim_domain_key }}"]},{"rrset_name": "@", "rrset_type": "MX", "rrset_ttl": 10800, "rrset_values": ["10 {{ default_cname_record }}.{{ server_domain }}."]},{"rrset_name": "_dmarc", "rrset_type": "TXT", "rrset_ttl": 10800, "rrset_values": ["v=DMARC1; p=reject; rua=mailto:support@{{ server_domain }}; ruf=mailto:support@{{ server_domain }}; adkim=s; aspf=s"]}]}