---
# tasks file for install_ax

- name: Install the required packages (using apt tool)
  apt:
    update_cache: yes
    pkg:
    - git
    - ca-certificates
    - tmux
    - screen
    - p7zip-full
    state: present
  when:
   - ansible_pkg_mgr == "apt"
  become: yes

- name: Check if config path exists
  local_action: stat path="ax/{{ inventory_hostname }}/axiom.json"
  register: config_path

- name: Set config path variable
  set_fact: 
    config_path: "{% if not config_path.stat.exists %}ax/default.json{% else %}ax/{{ inventory_hostname }}/axiom.json{% endif %}"

- name: Check if ~/.axiom directory exists
  stat:
    path: ~/.axiom
  register: axiom_dir

- name: Clone Ax repository
  shell: git clone https://github.com/attacksurge/ax.git ~/.axiom/
  when: not axiom_dir.stat.exists
  register: git

- debug: var=git.stdout_lines
  when: git is defined and git.changed

- name: Copy the Axiom config file to the remote host
  copy:
    src: "{{ config_path }}"
    dest: ~/.axiom

- name: Add ~/.axiom/interact to PATH
  lineinfile:
    path: ~/.bashrc
    line: 'export PATH="$HOME/.axiom/interact:$PATH"'
    create: yes
    mode: '0644'

- name: Add ~/.axiom/interact to PATH for zsh
  lineinfile:
    path: ~/.zshrc
    line: 'export PATH="$HOME/.axiom/interact:$PATH"'
    create: yes
    mode: '0644'

- name: Setup and configure the Ax controller
  shell: ax configure --setup --shell zsh --unattended --config ~/.axiom/axiom.json
  environment:
    PATH: "{{ ansible_env.HOME }}/.axiom/interact:{{ ansible_env.PATH }}"
  register: setup

- debug: var=setup.stdout_lines

- name: Set Zsh as the default shell for root user
  user:
    name: "{{ ansible_user }}"
    shell: /bin/zsh
  become: yes

- name: Copy the Axiom scripts to the remote host
  synchronize:
      src: "{{ role_path }}/files/"
      dest: "~/"
      mode: push
      recursive: yes
      rsync_opts:
        - "--no-motd"
        - "--exclude=modules"

- name: Copy the Axiom modules to the remote host
  copy:
    src: "{{ role_path }}/files/modules/"
    dest: ~/.axiom/modules

- name: Building a new Ax image
  shell: ax build {{ axiom_provisioner }}
  environment:
    PATH: "{{ ansible_env.HOME }}/.axiom/interact:{{ ansible_env.PATH }}"
  register: build

- debug: var=build.stdout_lines

- name: Extract provider value from config file
  shell: grep -w "provider" "{{ config_path }}" | awk -F ':' '{print $2}' | tr -d '",  \n'
  delegate_to: localhost
  register: provider_value

- name: Fix AWS Axiom account setup
  shell: ~/fix_aws_axiom_account_setup.sh
  when: provider_value.stdout == "aws"